@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #ffffff;
    font-family: 'Work Sans', Arial, sans-serif;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
